/* RiseToPower.css */
.page-container {
  height: 120%;
}

.rise-to-power-container {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rise-to-power-text {
  flex: 1;
}

.rise-to-power-text h1 {
  font-size: 30px;
  text-align: center;
  color: #ea906c;
  margin-bottom: 10px;
}

.rise-to-power-text p {
  font-size: 18px;
  text-align: justify;
  color: azure;
  line-height: 1.6;
}

.rise-to-power-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rise-to-power-image img {
  max-height: 100vh;
  margin: 20px;
  filter: blur(3px);
  width: 80%;
  border-radius: 10px; /* Add a slight border radius */
}
.rise-to-power-image img:hover{
  transform: scale(1.1);
  filter: blur(0);
  box-shadow: 5px solid white;
}